body {
  font-family: "Lato",Arial, Helvetica, sans-serif;
  color: #181818;
  line-height: 1.5;
}

.button {
  display: inline-block;
  padding: .75em 2.5em;
  background: #58c4c4;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: all .5s ease;
}

.button:hover {
  background: #37a0a0;
}

.top-header {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 73px;
  width: 100%;
  background: #ffffff;
}

.top-header img {
  width: 200px;
  margin: .5em;
  display: inline-block;
}

.top-nav {
  text-align: center;
}

.btn-menu {
  font-size: 1.9em;
  color: #612674;
  float: right;
  line-height: 73px;
  margin-right: .5em;
  cursor: pointer;
  display: block;
}

#menu {
  display: none;
}

.top-nav ul{
  position: fixed;
  top: 73px;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateX(-100%);
  transition: all .5s ease;
  background: #612674;
  height: 100vh;
  width: 100%;
}

.top-nav ul li {
  display: block;
}

.top-nav a{
  color: white;
  text-decoration: none;
  padding: 1em;
  display: block;
}
.top-nav a:hover{
  background: #7c3792;
}

#menu:checked ~ nav ul{
  transform: translateX(0);
}

.top-content {
  margin-top: 73px;
  padding: 1em;
  text-align: center;
  background: #f6f6f6;
}

.top-content-title {
  color: #612674;
  font-size: 1.375em;
  margin: 1.375em;
}

.top-content-subtitle {
  color: #a87bb7;
  font-size: 1em;
}

.middle-content {
  padding: 2em;
  text-align: center;
}

.middle-content-title {
  font-size: 1.25em;
  color: #652e79;
  text-transform: uppercase;
}
.middle-content span[class^=icon]{
  font-size: 3.5em;
  color: #652e78
}

.middle-content p {
  color: #222222;
}